@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.author {
  &__photo {
    display: inline-block;

    width: 75px;
    height: 75px;
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: padding-box
  }

  .avatarHalo {
    display: inline-block;
    position: absolute;
    width: 95px;
    height: 95px;
    top: 15px;
    left: 10px;
    color: #03a87c!important;
    fill: #03a87c!important;
    @include breakpoint-sm {
      top: 20px;
    }
    @include breakpoint-md {
      top: 30px;
      left: 30px;
    }
  }

  &__title {
    font-size: $typographic-base-font-size * 1.125;
    font-weight: 600;
    @include line-height(1.125);
    @include margin(.5, 0, .5, 0);

    &-link {
      color: $color-base;

      &:hover,
      &:focus {
        color: $color-base
      }

    }

  }

  &__subtitle {
    color: $color-gray;
    @include line-height(1);
    @include margin-bottom(1)
  }

}